<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dbstar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".app.GDLauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity android:name=".app.GDEReaderActivity" />
        <activity android:name=".app.GDHDMovieActivity" />
        <activity android:name=".app.GDTVActivity" />
        <activity android:name=".app.GDWebBrowserActivity" />
        <activity android:name=".app.GDVideoPlayer" />
        <activity android:name=".app.GDReceiveStatusActivity" />
        <activity android:name=".app.GDDiskManagementActivity" />
        <activity android:name=".app.GDSystemSettingsActivity" />
        <activity android:name=".app.GDGuodianSettingsActivity" />
        <activity android:name=".app.GDUserInfoActivity" />
        <activity android:name=".app.GDOrderPushActivity" />

        <service
            android:name=".service.GDDataProviderService"
            android:exported="false" />

        <provider
            android:name=".model.GDDVBDataProvider"
            android:authorities="com.dbstar.provider"
            android:exported="false" />
        <provider
            android:name=".model.GDSmartHomeProvider"
            android:authorities="com.dbstar.smarthome.provider"
            android:exported="false" />
    </application>

</manifest>