<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dbstar.guodian"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".GDLauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity android:name=".GDEReaderActivity" />
        <activity android:name=".GDHDMovieActivity" />
        <activity android:name=".GDTVActivity" />
        <activity android:name=".GDWebBrowserActivity" />
        <activity android:name=".GDVideoPlayer" />
        <activity android:name=".GDReceiveStatusActivity" />
        <activity android:name=".GDDiskManagementActivity" />
        <activity android:name=".GDSystemSettingsActivity" />
        <activity android:name=".GDGuodianSettingsActivity" />
        <activity android:name=".GDUserInfoActivity" />
        <activity android:name=".GDOrderPushActivity" />

        <service android:name=".model.GDDataProviderService" />

        <provider
            android:name=".model.GDDVBDataProvider"
            android:authorities="com.dbstar.guodian.provider" />
        <provider
            android:name=".model.GDSmartHomeProvider"
            android:authorities="com.dbstar.guodian.smarthome.provider" />
    </application>

</manifest>