<?xml version="1.0" encoding="utf-8"?>
<manifest
		xmlns:android="http://schemas.android.com/apk/res/android"
		package="com.media.android.dbstarplayer"
		android:versionCode="108021"
		android:versionName="1.8.2"
		android:installLocation="auto"
>
	<uses-sdk
			android:minSdkVersion="5"
			android:maxSdkVersion="10"
			android:targetSdkVersion="9"
	/>
	<supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application android:name="com.media.android.dbstarplayer.DbStarPlayerApplication" android:icon="@drawable/dbstarplayer" android:logo="@drawable/dbstarplayer_bw" android:label="DbStarPlayer">
		<activity android:name="com.media.android.dbstarplayer.error.BookReadingErrorActivity" android:theme="@style/DbStarPlayer.Dialog" android:process=":error" android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.dbstarplayer.action.ERROR"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:scheme="BookReadingException"/>
			</intent-filter>
		</activity>
		<activity android:name=".error.BugReportActivity" android:label="DbStarPlayer crash" android:theme="@style/DbStarPlayer.Activity" android:process=":crash" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.crash.FixBooksDirectoryActivity" android:theme="@style/DbStarPlayer.Dialog" android:process=":crash" android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.dbstarplayer.action.CRASH"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:scheme="CachedCharStorageException"/>
			</intent-filter>
		</activity>
		<activity android:name="com.media.android.dbstarplayer.crash.MissingNativeLibraryActivity" android:theme="@style/DbStarPlayer.Dialog" android:process=":crash" android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.dbstarplayer.action.CRASH"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:scheme="ExceptionInInitializerError"/>
			</intent-filter>
		</activity>
		<service android:name="com.media.android.dbstarplayer.api.ApiService" android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.dbstarplayer.action.API"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</service>
		<activity android:name="com.media.android.dbstarplayer.DbStarPlayer" android:launchMode="singleTask" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.dbstarplayer.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.dbstarplayer.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:scheme="file"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:scheme="dbstarplayer-action"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:host="" android:scheme="file"/>
				<data android:pathPattern=".*\\.epub"/>
				<data android:pathPattern=".*\\.oeb"/>
				<data android:pathPattern=".*\\.fb2"/>
				<data android:pathPattern=".*\\.fb2\\.zip"/>
				<data android:pathPattern=".*\\.mobi"/>
				<data android:pathPattern=".*\\.prc"/>
				<data android:pathPattern=".*\\.txt"/>
				<data android:pathPattern=".*\\.rtf"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:host="" android:scheme="file" android:mimeType="text/plain"/>
				<data android:pathPattern=".*\\.epub"/>
				<data android:pathPattern=".*\\.oeb"/>
				<data android:pathPattern=".*\\.fb2"/>
				<data android:pathPattern=".*\\.mobi"/>
				<data android:pathPattern=".*\\.prc"/>
				<data android:pathPattern=".*\\.txt"/>
				<data android:pathPattern=".*\\.rtf"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="content" android:pathPattern=".*\\.fb2"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="" android:scheme="file"/>
				<data android:mimeType="application/epub+zip"/>
				<data android:mimeType="application/x-pilot-prc"/>
				<data android:mimeType="application/x-mobipocket-ebook"/>
				<data android:mimeType="application/x-fictionbook+xml"/>
				<data android:mimeType="application/x-fictionbook"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
		</activity>
		<activity android:name="com.media.android.dbstarplayer.CancelActivity" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.style.StyleListActivity" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.style.EditStyleActivity" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.image.ImageViewActivity" android:process=":imageView" android:theme="@style/DbStarPlayer.Activity" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<service android:name="com.media.android.dbstarplayer.libraryService.LibraryService" android:launchMode="singleTask" android:process=":libraryService">
			<intent-filter>
				<action android:name="android.dbstarplayer.action.LIBRARY_SERVICE"/>
			</intent-filter>
		</service>
		<activity android:name="com.media.android.dbstarplayer.library.BookInfoActivity" android:theme="@style/DbStarPlayer.Activity" android:process=":library" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.library.LibrarySearchActivity" android:process=":library" android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
		</activity>
		<activity android:name="com.media.android.dbstarplayer.library.LibraryActivity" android:launchMode="singleTask" android:process=":library" android:theme="@style/DbStarPlayer.Activity" android:configChanges="orientation|keyboardHidden|screenSize">
			<meta-data android:name="android.app.default_searchable" android:value="com.media.android.dbstarplayer.library.LibrarySearchActivity"/>
		</activity>
		<activity android:name="com.media.android.dbstarplayer.TOCActivity" android:theme="@style/DbStarPlayer.Activity" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.BookmarksActivity" android:launchMode="singleTask" android:process=":bookmarks" android:theme="@style/DbStarPlayer.Activity" android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
		</activity>
		<activity android:name="com.media.android.dbstarplayer.BookmarkEditActivity" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.preferences.PreferenceActivity" android:theme="@style/DbStarPlayer.Activity" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.preferences.EditBookInfoActivity" android:process=":library" android:theme="@style/DbStarPlayer.Activity" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.network.BookDownloader" android:process=":networkLibrary" android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="*" android:scheme="http"/>
				<data android:pathPattern=".*\\.epub"/>
				<data android:pathPattern=".*\\.oeb"/>
				<data android:pathPattern=".*\\.fb2"/>
				<data android:pathPattern=".*\\.fb2\\.zip"/>
				<data android:pathPattern=".*\\.mobi"/>
				<data android:pathPattern=".*\\.prc"/>
				<data android:pathPattern=".*\\.txt"/>
				<data android:pathPattern=".*\\.rtf"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="*" android:scheme="http"/>
				<data android:mimeType="application/epub+zip"/>
				<data android:mimeType="application/x-pilot-prc"/>
				<data android:mimeType="application/x-mobipocket-ebook"/>
				<data android:mimeType="application/x-fictionbook+xml"/>
				<data android:mimeType="application/x-fictionbook"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="*rus.ec" android:mimeType="application/zip" android:scheme="http"/>
				<data android:host="lib.ololo.cc" android:mimeType="application/zip" android:scheme="http"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="*" android:scheme="book"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="*" android:scheme="epub"/>
			</intent-filter>
		</activity>
		<service android:name="com.media.android.dbstarplayer.network.BookDownloaderService" android:launchMode="singleTask" android:process=":networkLibrary"/>
		<activity android:name="com.media.android.dbstarplayer.network.NetworkSearchActivity" android:process=":networkLibrary" android:theme="@android:style/Theme.NoDisplay">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
		</activity>
		<activity android:name="com.media.android.dbstarplayer.network.NetworkLibraryPrimaryActivity" android:process=":networkLibrary" android:launchMode="singleTask" android:theme="@style/DbStarPlayer.Activity" android:configChanges="orientation|keyboardHidden|screenSize">
			<meta-data android:name="android.app.default_searchable" android:value="com.media.android.dbstarplayer.network.NetworkSearchActivity"/>
			<intent-filter>
				<action android:name="android.dbstarplayer.action.OPEN_NETWORK_CATALOG"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:host="*" android:scheme="http"/>
				<data android:host="*" android:scheme="https"/>
			</intent-filter>
		</activity>
		<activity android:name="com.media.android.dbstarplayer.network.NetworkLibrarySecondaryActivity" android:process=":networkLibrary" android:theme="@style/DbStarPlayer.Activity" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.network.AuthenticationActivity" android:process=":networkLibrary" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.network.BuyBooksActivity" android:process=":networkLibrary" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.network.AddCatalogMenuActivity" android:process=":networkLibrary" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.network.AddCustomCatalogActivity" android:process=":networkLibrary" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.dbstarplayer.action.ADD_OPDS_CATALOG"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:host="" android:scheme="http" android:path="/add_catalog/editUrl"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:host="*" android:scheme="opds"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.dbstarplayer.action.ADD_OPDS_CATALOG_URL"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:host="*" android:scheme="http"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.dbstarplayer.action.ADD_OPDS_CATALOG_URL"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:host="*" android:scheme="https"/>
			</intent-filter>
		</activity>
		<activity android:name="com.media.android.dbstarplayer.network.AuthorizationMenuActivity" android:process=":networkLibrary" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.network.TopupMenuActivity" android:process=":networkLibrary" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name="com.media.android.dbstarplayer.network.NetworkBookInfoActivity" android:process=":networkLibrary" android:theme="@style/DbStarPlayer.Activity" android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:host="*" android:scheme="litres-book"/>
			</intent-filter>
		</activity>
		<receiver android:name="com.media.android.dbstarplayer.network.ListenerCallback" android:process=":networkLibrary">
			<intent-filter>
				<action android:name="android.dbstarplayer.action.network.SIGNIN"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</receiver>
		<activity android:name="com.media.android.dbstarplayer.tips.TipsActivity" android:theme="@style/DbStarPlayer.Dialog" android:configChanges="orientation|keyboardHidden|screenSize"/>
	</application>
</manifest>
