<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.dbstar.DbstarDVB"
	android:versionCode="1"
	android:sharedUserId="android.uid.system"
	android:versionName="1.73">

	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14" />
	<supports-screens
		android:largeScreens="true"
		android:anyDensity="true" />

	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>    
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DEVICE_POWER" />
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:icon="@drawable/ic_launcher"
		android:label="@string/DbstarDVB"
		android:debuggable="false" >

		<service android:name=".DbstarService" android:exported="true"/>
		<service android:name=".PlayerService.AmPlayer"/>
		<activity
			android:name=".Test.DbstarTest"
			android:label="@string/DbstarTest"
			android:screenOrientation="landscape" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".Test.DvbpushTest"
			android:label="@string/DvbpushTest"
			android:screenOrientation="landscape" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".Test.PlayerTest"
			android:label="@string/PlayerTest"
			android:screenOrientation="landscape" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name=".Test.DiskTest"
			android:label="@string/DiskTest"
			android:screenOrientation="landscape" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".VideoPlayer.FileList"
			android:theme="@style/theme_trans"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name=".VideoPlayer.PlayerMenu" 
			android:label="@string/main_activity"
			android:theme="@style/PlayerTheme"
			android:configChanges="mnc|mcc|orientation|keyboardHidden|screenSize|screenLayout">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="video/*" />
			</intent-filter>
		</activity>
	</application>
</manifest>
