<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.fb.FileBrower"
      android:versionCode="1"
      android:versionName="4.0">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>        
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:icon="@drawable/filebrower" 
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:label="@string/app_name">
        <activity android:name=".ThumbnailView1"
        		  android:configChanges="orientation|screenSize|screenLayout"
                  android:label="@string/app_name"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".FileBrower"
				  android:configChanges="orientation|screenSize|screenLayout"
				  >
		</activity>	
		<service android:name=".ThumbnailScannerService"></service>	
    </application>
    <uses-sdk android:minSdkVersion="14" />
</manifest> 