on early-init
    write /sys/class/boot_monitor/boot_timer 1

on init

on fs
    setprop ro.crypto.umount_sd false
    mount ext4 /dev/block/system /system wait ro noatime nodiratime noauto_da_alloc
    e2fsck -a -y /dev/block/data
    mount ext4 /dev/block/data /data noatime nodiratime norelatime nosuid nodev noauto_da_alloc
    mount ext4 /dev/block/cache /cache noatime nodiratime norelatime nosuid nodev noauto_da_alloc
    write /sys/class/aml_keys/aml_keys/version auto3

on post-fs-data

on boot


    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1200000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 96000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
    write /sys/class/freq_limit/limit 0
    write /sys/devices/system/cpu/cpufreq/conservative/freq_step 8
    write /sys/devices/system/cpu/cpufreq/conservative/sampling_rate 100000
    write /sys/devices/system/cpu/cpufreq/conservative/up_threshold 80
    write /sys/devices/system/cpu/cpufreq/conservative/down_threshold 50

    write /sys/class/vfm/map "rm default" 
    write /sys/class/vfm/map "add default decoder ppmgr deinterlace amvideo"
		
#temporary rules for testing secure os
    chmod 0666 /dev/otz_client
    chmod 666 /dev/security_device

# create dbstar dir
    mkdir /data/dbstar 0777 system system
    write /proc/sys/net/core/rmem_max 16777216
    write /proc/sys/net/core/rmem_default 16777216
    chown system system /proc/sys/net/core/rmem_max
    chown system system /proc/sys/net/core/rmem_default
    chmod 0777 /sys/class/gpio/cmd
    chmod 0666 /dev/smc0



on property:init.svc.bootanim=running
    write /sys/class/graphics/fb0/blank 0
    write /sys/class/graphics/fb1/blank 1
    write /sys/class/graphics/fb2/blank 1
    write /sys/class/graphics/fb3/blank 1

on property:init.svc.bootanim=stopped
	start preinstall
#    write /sys/class/aml_mod/mod_off audio
    write /sys/class/aml_mod/mod_off mipi
#    write /sys/class/aml_mod/mod_off spi
#    write /sys/class/aml_mod/mod_off uart0
    write /sys/class/aml_mod/mod_off uart1
    write /sys/class/aml_mod/mod_off uart2
    write /sys/class/aml_mod/mod_off uart3
#    write /sys/class/aml_mod/mod_off venc
#   write /sys/class/aml_mod/mod_off hdmi
    write /sys/class/aml_mod/mod_off bt656
    write /sys/class/aml_mod/mod_off vdec
#    write /sys/class/aml_mod/mod_off rom
#    write /sys/class/aml_mod/mod_off efuse
    write /sys/class/aml_mod/mod_off random_num_gen
    write /sys/class/aml_mod/mod_off tcon
#    write /sys/class/aml_mod/mod_off ethernet
#    write /sys/class/aml_mod/mod_off media_cpu
   write /sys/class/aml_mod/mod_off viu2
#    write /sys/class/aml_mod/mod_off smart_card
    write /sys/class/aml_mod/mod_off sdhc
    write /sys/class/aml_mod/mod_off stream
    write /sys/class/aml_mod/mod_off blk_mov
    write /sys/class/aml_mod/mod_off dvin
#    write /sys/class/aml_mod/mod_off rdma
    write /sys/class/aml_mod/mod_off ge2d
#    write /sys/class/aml_mod/mod_off vdin
    write /sys/class/aml_mod/mod_off lvds

  # write /sys/class/aml_mod/dynamical_control audio
    write /sys/class/aml_mod/dynamical_control vdec
    write /sys/class/aml_mod/dynamical_control bt656
    #write /sys/class/aml_mod/dynamical_control venc
    #write /sys/class/aml_mod/dynamical_control media_cpu
    write /sys/class/aml_mod/dynamical_control ge2d
   #write /sys/class/aml_mod/dynamical_control vdin

    write /sys/class/boot_monitor/boot_timer 0
    write /sys/module/di/parameters/bypass_1080p 1

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -ip2p0 -Dnl80211 -c /data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -N -puse_p2p_group_interface=1 \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf
#   we will start as root and wpa_supplicant will switch to user wifi
#   after setting up the capabilities required for WEXT
#   user wifi
#   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service xcmidware /system/bin/xcmid-amlogic
    class main
    user root
    group root system input


service preinstall /system/bin/preinstall.sh
    user root
    group root
    disabled
    oneshot
service sec_test /sbin/sec_test
    class core
    user root
    group system

on property:init.svc.sec_test=stopped
    start sec_tes




# dbstar
service dbstar /system/bin/logwrapper /system/bin/dbstar_control.sh init
    class main
    group system system
    oneshot

# smarthome
service smarthome /system/bin/logwrapper /system/bin/smarthome
    class main
    group system system
    disabled
    oneshot

on property:service.smarthome.started=1
    start smarthome

on property:service.smarthome.started=0
    stop smarthome

# disk_manage
service disk_manage /system/bin/logwrapper /system/bin/disk_manage.sh
    class main
    group system system
    disabled
    oneshot

on property:service.disk_manage.state=running
    start disk_manage

